# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland IDE
.idea

# Build directory
_output

# Enviroment variables files
.env

# TLS cert and key files
server.key
server.pem
server.csr
fullchain.pem
privkey.pem